* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: salmon; */
    min-width: 100px;
}

header {
    text-align: center;
    margin: 25px;
    /* background: blue; for visiblety */
}

header img {
    width: 100px;
}

nav {
    margin-top: 25px;
    /* background: cyan; for visiblety */
    height: 50px;
}

nav a {
    margin: 0px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold; /*thickness*/
    color: black;
    letter-spacing: 3px;
    /* background: salmon; for visiblety */
    height: 50px; /*doesn't work if it not in block*/
    display: inline-block; /*changed the behavior*/
    line-height: 50px;   
}

section {
    /* background-color: orange; */
    margin-top: 25px;
}

section div.class {
    /* background-color: lightblue; */
    width: 50%;
    margin: 25px auto 20px auto; /*still Top Right Bottom Left*/
    padding-left: 30px;
}